@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlgoindeEnka";
  src: url("./assets/fonts/shii-webfont.woff2");
}

* {
  font-family: "Nunito Sans", sans-serif;
  /* cursor: url("./assets/cursor/Genshin-Impact-Normal-Select.svg"); */
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5); /* change opacity value as needed */
}

.coverBg {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

.PlayerGirl,
.PlayerBoy {
  display: flex;
  justify-content: flex-end;
  margin-top: -5%;
  scale: 90%;
}

.Diona,
.Faruzan {
  scale: 120%;
}

.footer {
  -webkit-box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.25);
}

.enkaTalentText {
  width: 100%;
  font-family: "AlgoindeEnka", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.5;
  margin: 0.8rem 0;
}
